<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2GWMK98QmlPO9JHnx9zyRFS3u9eGSeVE</string>
	<key>GCM_SENDER_ID</key>
	<string>551409659517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.DataSellingPlatform</string>
	<key>PROJECT_ID</key>
	<string>ecotrack-4876b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecotrack-4876b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551409659517:ios:a45e32cf613e754a764b14</string>
	<key>DATABASE_URL</key>
	<string>https://ecotrack-4876b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>