name: Android-apk-MadeByAmr

on:
  workflow_dispatch:

jobs:
  build-android:
    name:  Android Build
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout code
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
          architecture: x64

      - name: Install dependencies
        run: flutter pub get

      - name:  Build APK (release)
        run: flutter build apk --release

      - name:  Upload APK to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/app/outputs/flutter-apk/app-release.apk
          tag: v1.0
          overwrite: true
          body: "This is the Android release APK"
